---
// Component Imports
import Header from "../layouts/Header.astro";
import Hero from "../layouts/Hero.astro";
import Card from "../components/Card.astro";
import Footer from "../layouts/Footer.astro";
import { Image } from 'astro:assets';
---
<html lang="en">


<body>

	<!--Header -->
	<Header title="Andy Martin - Developer"/>

	<!--Hero -->
	<Hero name="Andy." description="I design powerful learning experiences"/>
	<span id="cycle"></span>

	<!-- Portfolio -->
	<section class="text-gray-900 body-font mytext" id="#portfolio">
		<div class="container px-5 py-24 mx-auto">
			<p style="font-family: 'Palatino', sans-serif;" class="text-3xl lg:text-5xl pb-2">Recent Work</p>
				
			<!--Cards -->
			<div class="flex flex-wrap -mx-4 -mb-10 text-center">
				<Card name="test" description="asdf" img={}/>
				<Card name="test" description="asdf" img={}/>
			</div>
		</div>	
	</section>
		
	<!--Footer -->
	<Footer />
</body>
</html>
