---
const props = Astro.props
---
           
<footer class="w-full bg-white" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="px-4 lg:py-12 mx-auto max-w-7xl sm:px-6 lg:px-16">
      <div class="flex flex-col items-baseline space-y-6">
        <div class="mx-auto">
          <a href="/" class="mx-auto text-lg text-center text-black transition duration-500 ease-in-out transform tracking-relaxed">
          <img src="../assets/iconbar.png">
            </a>
        </div>
        <div class="mx-auto">
          <span class="mx-auto mt-2 text-sm text-gray-500">
            Copyright 2023
          </span>
        </div>
      </div>
    </div>
  </footer>
